BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Never
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left
ColumnLimit: 120
NamespaceIndentation: All
FixNamespaceComments: false