/out/
/build/
/*_build*/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/*.cmake
cmake_install.cmake
install_manifest.txt
.vs/
*.VC.db
*.VC.VC.opendb
*.user
*.VC.db-wal
*.VC.opendb
*.suo
*.psess
.vscode/
/vcpkg_installed/
/vcpkg*.log
*.cache
*.obj
*.o
*.lo
*.dll
*.exe
*.so
*.dylib
*.lib
*.a
*.exp
*.pdb
*.generated.*
*.moc
*.qrc
*.rcc
*~
*.tmp
*.temp
*.log
*.bak
*.swp
*.swo
.DS_Store
Thumbs.db
